<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>CheckEmailServlet</servlet-name>
    <servlet-class>controller.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>controller.UsersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>controller.CheckOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerCategoryServlet</servlet-name>
    <servlet-class>controller.ManagerCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controller.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>controller.ChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerBill</servlet-name>
    <servlet-class>controller.ManagerBill</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerProductServlet</servlet-name>
    <servlet-class>controller.ManagerProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmailServlet</servlet-name>
    <url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerCategoryServlet</servlet-name>
    <url-pattern>/ManagerCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerBill</servlet-name>
    <url-pattern>/ManagerBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerProductServlet</servlet-name>
    <url-pattern>/ManagerProductServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <display-name>ChartSetFilter</display-name>
    <filter-name>ChartSetFilter</filter-name>
    <filter-class>filter.ChartSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChartSetFilter</filter-name>
    <url-pattern>/ChartSetFilter</url-pattern>
  </filter-mapping>
</web-app>